<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zoucl.cloud.admin.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="cn.zoucl.cloud.admin.model.entity.User">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="reg_date" jdbcType="DATE" property="regDate" />
    <result column="enabled" jdbcType="VARCHAR" property="enabled" />
    <result column="last_login" jdbcType="DATE" property="lastLogin" />
    <result column="credential_code" jdbcType="VARCHAR" property="credentialCode" />
    <result column="credential" jdbcType="VARCHAR" property="credential" />
    <result column="date_created" jdbcType="DATE" property="dateCreated" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_ip" jdbcType="VARCHAR" property="createIp" /><result column="credential" jdbcType="VARCHAR" property="credential" />
    <result column="date_updated" jdbcType="DATE" property="dateUpdated" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_ip" jdbcType="VARCHAR" property="updateIp" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />

  </resultMap>

</mapper>